body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
   background-color:#9e9e9e12;

}

h1 {
  font-size:75px;
  color: grey;
}

#container div {
    display:inline-block;
    margin-top:40px;
}

#form_container div {
    margin-right:100px;
    float: left;
    clear: none;
}
#outputs_most_played div{

    display:inline-block;
}

label {
    float:left;
    width:350px;
    line-height: 1.36;
    margin-top:30px;
    margin-left:100px;
    font-size:30px;
    background-color:#8080801f;
    border-radius:5px;
}

input{
    margin-top:30px;
    margin-left:10px;
    float:right;
    line-height:1.98;
    width:300px;
    border-radius:5px;
    border-width:1px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-size:larger;
    text-align:center;
}


button {
      /* remove default behavior */
      appearance:none;
      -webkit-appearance:none;

      margin-top:100px;
      padding:10px;
      border:none;
      background-color:#607d8bb8;
      color:#191919;
      border-radius:5px;
      border-width:1px;
      width:50%;
      font-size:15px;
      font-weight:bold;
}

button:hover{
    background-color:#607d8b2e;
    box-shadow: 0 0 10px #4ea0e6;
}

button:focus{
  background-color:#607d8b2e;
  box-shadow: 0 0 10px #4ea0e6;
  outline: none !important;
  }

#form_legend {
  float:left;
   margin-left:560px;
   font-weight: bold;
   font-size:25px;
}
#most_played_legend {
    margin-right:80px;
    font-weight: bold;
    font-size:25px;
}



div.items p {display: none}
div.items p:target {display: block}

#details{
  margin-top:40px;
  margin-right:472px;
  font-weight:bold;
}




#item1{
    float:left;
  margin-left: 695px;
}
#item2{
    float:left;
  margin-left: 695px;
}
#item3{
    float:left;
  margin-left: 695px;
}
#item4{
    float:left;
  margin-left: 695px;
}
#item5{
    float:left;
  margin-left: 695px;
}

