<!DOCTYPE html>
<html lang = "de">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/page1.css') }}">
    <title>spag7 Team Analyzer</title>
    <h1>spag7 Team Analyzer</h1>
    <h2 id = "loading"></h2>
    <script type  = "text/javascript">
        function loading(){
            document.getElementById("loading").innerHTML = "Loading..."
        }
        function preloader(){
            document.getElementById("loading_animation").style.display = "inline-block";
        }
    </script>
</head>

<body>
     <div id = "loading_animation" class="loader"></div>
         <div id = "container">
            <div id = "form_container">
                <form method = "POST">
                     <div class="row">
                        <div class = "col">
                        <label>Player 1</label> <br>
                        <label>Player 2</label> <br>
                        <label>Player 3</label> <br>
                        <label>Player 4</label> <br>
                        <label>Player 5</label> <br>
                        </div>
                        <div class = "col">
                        <input id = "player1" name="Player1"> <br>
                        <input id = "player2" name="Player2"> <br>
                        <input id = "player3" name="Player3"> <br>
                        <input id = "player4" name="Player4"> <br>
                        <input id = "player5" name="Player5"> <br>
                        </div>
                    </div>
                        <a><button onclick = loading(), preloader();>confirm</button></a>


                </form>
                </div>
         </div>
</body>
</html>
