body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
   background-color:#9e9e9e12;

}

h1 {
  font-size:75px;
  color: grey;
}

#container div {
    display:inline-block;
    margin-top:40px;
}

#form_container div {
    margin-right:18px;
    float: left;
    clear: none;
}
#outputs_most_played div{
    display:inline-block;
}

label {
    float:left;
    width:350px;
    line-height: 1.36;
    margin-top:30px;
    margin-left:100px;
    font-size:30px;
    background-color:#8080801f;
    border-radius:5px;
}

input{
    margin-top:30px;
    margin-left:100px;
    float:right;
    line-height:1.9;
    width:300px;
    border-radius:5px;
    border-width:1px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-size:larger;
    text-align:center;
}


input:focus {
     outline: none !important;
    border-color: #1a30bd;
    box-shadow: 0 0 10px #4ea0e6;
}

input:hover{
   box-shadow: 0 0 10px #4ea0e6;
}

button {
      /* remove default behavior */
      appearance:none;
      -webkit-appearance:none;

      margin-top:100px;
      padding:10px;
      border:none;
      background-color:#607d8bb8;
      color:#191919;
      border-radius:5px;
      border-width:1px;
      width:78%;
      font-size:15px;
      font-weight:bold;
}

button:hover{
    background-color:#607d8b2e;
    box-shadow: 0 0 10px #4ea0e6;
}

button:focus{
  background-color:#607d8b2e;
  box-shadow: 0 0 10px #4ea0e6;
  outline: none !important;
  }


.alert{
  height:4px;
}



#content div {
    }

#loading div{
    display:none;
    top: 200px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url('/static/loadingimage.gif')  no-repeat;
    cursor: wait;
    }

.loader {
    display:none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






